PhotoShare.xcodeproj/xcuserdata/*
PhotoShare.xcodeproj/project.xcworkspace/xcuserdata/*

UserInterfaceState.xcuserstate
stuartvarrall.xcuserdatad
Breakpoints_v2.xcbkptlist

*.xcbkptlist

*.xcuserstate
